In [403]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import r2_score

from sklearn.preprocessing import LabelEncoder
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',500) 

import requests
from bs4 import BeautifulSoup
from selenium  import webdriver
from selenium.webdriver.common.keys import Keys
import pprint

#import the library used to query a website
from bs4 import BeautifulSoup
import urllib.request
#specify the url
url="https://www.prokabaddi.com/stats"
#Query the website and return the html to the variable 'page'
page=urllib.request.urlopen(url)
#req=requests.get(url)
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup=BeautifulSoup(page)
print(soup.prettify)

In [2]:
url='https://www.prokabaddi.com/stats/0-96-total-points-scored-statistics'
headers={'User-Agent': 'Mozilla/5.0 (X11; Linux i686 on x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.63 Safari/537.36'}

response = requests.get(url,headers=headers)
response

In [3]:
soup = BeautifulSoup(response.text,'html.parser')

In [4]:
path = ('C:\\Users\\balgude\\Downloads\\chromedriver_win32\\chromedriver.exe')
driver = webdriver.Chrome(executable_path = path)
driver.get('https://www.prokabaddi.com/stats/0-96-total-points-scored-statistics')

In [9]:
items = driver.find_elements_by_class_name("si-fix-bot")
print(items)

[]

In [494]:
df=pd.read_csv('C:\\Users\\balgude\\Desktop\\match result.csv')
df1=pd.read_csv('C:\\Users\\balgude\\Documents\\fixtures1.csv')

In [495]:
df1.head()

  Matches     Team A      Team B     Winner
0  League  Hyderabad      Mumbai     Mumbai
1  League  Bengaluru       Patna  Bengaluru
2  League  Bengaluru     Gujarat    Gujarat
3  League  Hyderabad  Tamil Nadu  Hyderabad
4  League     Mumbai      Jaipur     Jaipur

In [496]:
season7_teams=['Delhi','Hyderabad','Tamil Nadu','Haryana','Jaipur','Bengaluru','UP','Mumbai','Patna','Bengal','Gujarat','Pune']

In [497]:
df_team_1=df[df['Team A'].isin(season7_teams)]
df_team_2=df[df['Team B'].isin(season7_teams)]
df_team=pd.concat((df_team_1,df_team_2))
df_team.drop_duplicates()
df_team_all=df_team.drop(['Goal'],axis=1)

#df_team_3=df1[df1['Team A'].isin(season7_teams)]
#df_team_4=df1[df1['Team B'].isin(season7_teams)]
#df1_team_all=pd.concat((df_team_1,df_team_2))
#df1_team_all.drop_duplicates()
#df1_team_all=df_team.drop(['Goal'],axis=1)
df_team_all.head()

      Team A     Team B  Winner
0     Mumbai     Jaipur  Mumbai
1     Jaipur  Hyderabad  Jaipur
2      Patna     Jaipur  Jaipur
3      Delhi     Jaipur  Jaipur
4  Hyderabad     Jaipur  Jaipur

In [498]:
df_team_all.columns

Index(['Team A', 'Team B', 'Winner'], dtype='object')

In [499]:
df_team_all.reset_index(drop=True)
df_team_all.loc[df_team_all['Winner']==df_team_all['Team A'],'winning_team']=2
df_team_all.loc[df_team_all['Winner']==df_team_all['Team B'],'winning_team']=1
df_team_all.loc[df_team_all['Winner']=='tie','winning_team']=0
#df_team_all['winning_team']=np.where(df_team_all['Winner']==df_team_all['Team A'], 0,1)



df_team_all.head()

      Team A     Team B  Winner  winning_team
0     Mumbai     Jaipur  Mumbai           2.0
1     Jaipur  Hyderabad  Jaipur           2.0
2      Patna     Jaipur  Jaipur           1.0
3      Delhi     Jaipur  Jaipur           1.0
4  Hyderabad     Jaipur  Jaipur           1.0

In [500]:
df_team_all=df_team_all.drop('Winner',axis=1)

df1_team_all=df1.drop(['Winner','Matches'],axis=1)
df_team_all.shape

(1032, 3)

In [501]:
final=pd.get_dummies(df_team_all,prefix=['Team A', 'Team B'],columns=['Team A', 'Team B'])
final_fixtures=pd.get_dummies(df1_team_all,prefix=['Team A', 'Team B'],columns=['Team A', 'Team B'])
final_fixtures.drop_duplicates()
final_fixtures.head()

,Team A_Bengal,Team A_Bengaluru,Team A_Delhi,Team A_Gujarat,Team A_Haryana,Team A_Hyderabad,Team A_Jaipur,Team A_Mumbai,Team A_Patna,Team A_Pune,Team A_Tamil Nadu,Team A_UP,Team B_Bengal,Team B_Bengaluru,Team B_Delhi,Team B_Gujarat,Team B_Haryana,Team B_Hyderabad,Team B_Jaipur,Team B_Mumbai,Team B_Patna,Team B_Pune,Team B_Tamil Nadu,Team B_UP
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [502]:
final_fixtures.shape

(142, 24)

In [503]:
y=final.pop('winning_team')
x=final
X_test=final_fixtures
#y = y.astype('int')

In [504]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=100)

In [487]:
X_test.shape

(142, 24)

In [488]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
score = logreg.score(x_train, y_train)
score2 = logreg.score(x_test, y_test)
y_pred = logreg.predict(X_test)
#predictions = logreg.predict(final_fixtures)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.580
Test set accuracy:  0.552

In [505]:
rf = RandomForestClassifier(n_estimators=100,max_depth=20,random_state=0)
rf.fit(x_train, y_train)
score = rf.score(x_train, y_train)
score2 = rf.score(x_test, y_test)
y_pred1 = rf.predict(X_test)
#predictions = logreg.predict(final_fixtures)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.686
Test set accuracy:  0.590

As random forest accuracy is greater than logistics regression,we are using arndom forest regression to predit season 7 winner

In [506]:
seson7_winner = pd.DataFrame({"Team A": df1["Team A"],"Team B": df1["Team B"],"Winner": y_pred1})
#submission.set_index('PassengerId',inplace=True)
seson7_winner.head()

      Team A      Team B  Winner
0  Hyderabad      Mumbai     1.0
1  Bengaluru       Patna     1.0
2  Bengaluru     Gujarat     2.0
3  Hyderabad  Tamil Nadu     2.0
4     Mumbai      Jaipur     2.0

In [508]:
seson7_winner.to_csv('seson7_winner.csv',index=False)